body
{
text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;

    
}

p
{
    margin: 0;
}

.caja1 header, 
.caja1 nav, 
.caja1 footer, 
.caja1 main
{
    height: calc(100%/3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja2 header,
.caja2 nav,
.caja2 footer
{
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja2 main, .caja2 aside
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header
{
    background-color: lightpink;
    width: 100%;
}

nav
{
    background-color: blueviolet;
}

footer
{
    background-color: violet;
    width: 100%;
}

aside
{
    background-color: pink;

}

.center
{
    display: flex;
    height: 25%;


}

.rpanel
{

}

.lpanel
{
  
    order: -1;
}

.caja
{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    margin: 10px;
    

}

.matrix
{
display: flex;
flex-direction: row;
}