body {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header,
nav,
main,
aside,
footer {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}

header {
    background-color: lightpink;
}
footer {
    background-color: violet;
}

nav {
    background-color: blueviolet;
    height: 40px;
}

main,
aside {
    height: calc(100vh - 80px - 80px);
}

main {
}


aside {
    background-color: pink;

}

.center {
    display: flex;
    flex-direction: row;
}

p {
    margin: 0;
}

.caja
{
    border: 4px solid black;
    margin: 10px;
}



.rpanel {
    width: 25%;
}

.lpanel {
    width: 25%;
    order: -1;
}